
mixin css(link)
  link(rel="stylesheet", href="#{link}")
mixin js(link)
  script(type="application/javascript", src="#{link}")

doctype 5
html
  head
    title
    meta(charset="utf-8")
    mixin css("./page/page.css")
  body
    #scripts
      mixin js("./components/jquery/jquery.js")
      mixin js("./page/main.js")
      mixin js("http://192.168.1.19:7777/doodle.js")